name: Continuous Integration Checks

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
        toolchain: [ stable ]
        include:
           - platform: windows-latest
             arguments: --workspace --exclude watchtower-plugin

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Install Rust ${{ matrix.toolchain }} toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true
          profile: minimal
      - name: Build on Rust ${{ matrix.toolchain }}
        run: |
          cargo build ${{ matrix.arguments }} --verbose --color always
      - name: Test on Rust ${{ matrix.toolchain }}
        run: |
          cargo test ${{ matrix.arguments }} --verbose --color always

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt, clippy
      - name: Run rustfmt
        run: |
          cargo fmt --verbose --check -- --color always
      - name: Run clippy
        run: |
          cargo clippy --all-features --all-targets --color always -- --deny warnings
